﻿<h2>Data Maintenance</h2>
<div class="row">
    <div class="col col-md-2">
        <ul class="nav nav-stacked nav-pills">
            <li role="presentation" class="active">
                <a href="#zipcodes" data-toggle="tab" role="tab">Zip Codes</a>
            </li>

            <li role="presentation">
                <a href="#customers" role="tab" data-toggle="tab">Customers</a>
            </li>

        </ul>
    </div>

    <div class="tab-content col col-md-10">
        <div role="tabpanel" class="tab-pane active" id="zipcodes" data-ng-include data-src="'zipcodes.html'" data-ng-controller="ZipCodeCtrl"></div>
        <div role="tabpanel" class="tab-pane" id="customers" data-ng-include data-src="'customers.html'" data-ng-controller="CustomerCtrl"></div>
    </div>
</div>
