﻿<div>

    <form class="form-horizontal">
        <fieldset>
            <legend>Check out</legend>


            <div class="form-group">
                <label class="col-md-3 col-sm-12" for="customerID">Customer ID</label>
                <div class="col-md-3 col-sm-12">
                    <select name="customerID" id="customerID" data-ng-model="customerID">
                        <option>Select customer</option>
                    </select>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-12" for="checkOutVideoID">Video ID</label>
                <div class="col-md-6 col-sm-12">
                    <select name="customerID" id="checkOutVideoID" data-ng-model="checkoutVideoID">
                        <option>Select video to checkout</option>
                    </select>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Check out</button>
            </div>
        </fieldset>
    </form>

    <form class="form-horizontal" style="border-radius: 5px; border: 1px solid black; padding: 10px">
        <fieldset>
            <legend>Check in</legend>

            <div class="form-group">
                <label class="col-md-3 col-sm-12" for="checkInVideoID">Video ID</label>
                <div class="col-md-6 col-sm-12">
                    <select name="checkInVideoID" id="checkInVideoID" data-ng-model="checkInVideoID">
                        <option>Select video to check in</option>
                    </select>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>

            <p>Selected video: {{checkInVideo.Movie.MovieTitle}}</p>

            <div class="form-group">
                <button class="btn btn-primary">Check in</button>
            </div>
        </fieldset>
    </form>


</div>
