﻿<h3>Existing zip codes</h3>
<table ng-if="zipcodes.length > 0"class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Code</th>
        <th>City</th>
        <th>State</th>
    </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="zipcode in zipcodes | orderBy:sortOrder">
            <td>{{zipcode.Code}}</td>
            <td>{{zipcode.City}}</td>
            <td>{{zipcode.State}}</td>
        </tr>
    </tbody>
</table>

<div ng-if="zipcodes.length == 0">No zip codes currently exist; add one using the controls below</div>

<h3>Add a new zip code</h3>
<form class="form-inline">
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" placeholder="Zip Code (#####-####)" data-ng-model="newCode.Code">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" data-ng-model="newCode.City">
    </div>

    <div class="form-group">
        <label for="state">state</label>
        <input type="text" size="8" class="form-control" id="state" placeholder="(e.g. MI)" data-ng-model="newCode.State">
    </div>


    <button class="btn btn-primary" data-ng-click="saveNewZipCode(newCode)">Save</button>
</form>